* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (min-width: 992px) {
    article {
        background-color: #ffffff;
        ;
    }
    .card-body p img {
        margin-right: 3px;
    }
}